@use 'config';

$light-color: #fff;
$dark-color: #212529;

// NAV
.navbar-transparent {
  background-image: linear-gradient(rgba(51, 51, 51, 1), rgba(0, 0, 0, 0));
}

nav {
  img {
    width: 80px;
  }
}

// HERO
.hero {
  background: url("./img/hero-image.jpg") center/cover no-repeat;
  height: 101vh;
  margin-top: -101px;
}

#greeting {
  position: relative;
  height: 80vh;

  #greeting-name {
    position: absolute;
    top: 30%;
    transform: translateX(-600px);
    animation: enterName ease-in 0.5s forwards;
  }

  #greeting-button {
    position: absolute;
    top: 60%;
    background-color: $light-color;
    color: $dark-color;
    padding: 0.5rem;
    border-radius: 50%;
    animation: enterButton ease-in 1s forwards;
  }
  #greeting-button:hover {
    background-color: $dark-color;
    color: $light-color;
  }

  #greeting-title {
    position: absolute;
    top: 95%;
    transform: translateX(600px);
    animation: enterTitle ease-in 0.5s forwards;
  }
}

// HERO ANIMATIONS
@keyframes enterName {
  0% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(50px);
  }
}
@keyframes enterTitle {
  0% {
    transform: translateX(600px);
  }

  100% {
    transform: translateX(-50px);
  }
}
@keyframes enterButton {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

//SKILLS
#skills {
  margin-top: 5rem;
  color: $dark-color;
  padding-bottom: 130px;
  height: 50vh;

  h1 {
    font-size: 3rem;
    text-decoration: underline;
  }

  .skills-icons {
    height: 30vh;
    #html-icon {
      color: #e44d26;
      animation-delay: 0.2s;
      opacity: 0;
    }
    #css-icon {
      color: #2965f1;
      animation-delay: 0.4s;
      opacity: 0;
    }
    #js-icon {
      color: #f0db4f;
      animation-delay: 0.6s;
      opacity: 0;
    }
    #sass-icon {
      color: #cd6799;
      animation-delay: 0.8s;
      opacity: 0;
    }
    #bootstrap-icon {
      color: #602c50;
      animation-delay: 1s;
      opacity: 0;
    }
    #wordpress-icon {
      color: #00749c;
      animation-delay: 1.2s;
      opacity: 0;
    }
  }
}

// SKILLS ANIMATIONS
.skills-fade {
  animation: enterFade ease-in 0.5s forwards;
  @keyframes enterFade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

// ABOUT
.about-heading {
  background-color: $dark-color;
  h3 {
    text-decoration: underline;
  }

  .fa-chevron-down {
    cursor: pointer;
  }
}

.about-wrap {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #e5e5e5;

  #about {
    visibility: hidden;
    position: absolute;
    font-family: "Lora", serif;
    color: $dark-color;
    width: 60%;
    right: 0;
  }

  .about-gif {
    width: 30%;
    position: absolute;
    visibility: hidden;
    left: 5%;

    img {
      width: 85%;
    }
  }
}

// ABOUT ANIMATIONS
.display-about-section {
  animation: aboutSectionAnimation ease-in 0.5s forwards;
}
@keyframes aboutSectionAnimation {
  0% {
    height: 0;
  }

  100% {
    height: 50vh;
  }
}

.display-about-content {
  animation: aboutContentAnimation ease-in 0.5s forwards;
  @keyframes aboutContentAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    50% {
      opacity: 0.5;
      visibility: visible;
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}

.display-about-gif {
  animation: aboutIconAnimation ease-in 0.5s forwards;
  @keyframes aboutIconAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    50% {
      opacity: 0.5;
      visibility: visible;
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}

// WORK
.work-heading {
  color: $dark-color;
  text-decoration: underline;
}

.card {
  font-family: "Lora", serif;

  img {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
  }
}

.card-footer {
  font-family: "Lora", serif;
  a {
    margin: 1rem;
  }
}

.tech-used {
  .html-color {
    color: #e44d26;
  }
  .css-color {
    color: #2965f1;
  }
  .node-color {
    color: #3c873a;
  }
  .js-color {
    color: #f0db4f;
  }
  .sass-color {
    color: #cd6799;
  }
  .bootstrap-color {
    color: #602c50;
  }
  .wordpress-color {
    color: #00749c;
  }
}

// WORDPRESS PAGE

.wordpress-page-header {
  background: url("./img/wordpress-logos/wordpress-banner.jpg") no-repeat center
    center/cover;
  height: 50vh;
}

.wp-heading {
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: $dark-color;
  text-align: center;
  text-decoration: underline;
}

.wordpress-sites {
  img {
    width: 200px;
  }

  h5 {
    color: $dark-color;
  }
}

.back-button {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

// DISCORD PAGE
.discord-heading {
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: $dark-color;
  text-align: center;
  text-decoration: underline;
}

.discord-instructions {
  color: $dark-color;
  margin-bottom: 1rem;
}

.discord-page-header {
  background: url("./img/discord-images/discord-header.png") no-repeat center
    center/cover;
  background-size: 800px 700px;
  height: 55vh;
}

.invite-btn {
  background-color: $dark-color;
  color: $light-color;
  margin-bottom: 1rem;
}

.invite-btn:hover {
  background-color: #7189d9;
}

.invite-code {
  margin-bottom: 3rem;
  transform: translateX(100%);

  img {
    width: 100px;
  }
}

.invite-animation {
  animation: inviteAppear ease-in 0.5s forwards;
}

.discord-back-button {
  background-color: $dark-color;
  color: $light-color;
  margin-bottom: 1rem;
}

.discord-back-button:hover {
  background-color: #7189d9;
}

@keyframes inviteAppear {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// FOOTER
footer {
  a {
    color: $light-color;
  }
}

// Media Queries

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-heading {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #greeting-button {
    font-size: 12px;
  }

  #skills {
    margin-top: 2rem;

    h1 {
      font-size: 2rem;
    }
  }
  .skills-icons {
    font-size: 10px;
    i {
      margin-top: 1rem;
    }
  }

  .about-wrap {
    #about {
      width: 100%;
      text-align: center;
    }

    .about-gif {
      display: none;
    }
  }

  .discord-page-header {
    background: url("./img/discord-images/discord-header.png") no-repeat center
      center/cover;
  }

  // ANIMATIONS
  @keyframes enterName {
    0% {
      transform: translateX(-600px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  @keyframes enterTitle {
    0% {
      transform: translateX(600px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}

@media screen and (max-width: 480px) {
  #skills {
    height: 75vh;
  }
}
// Animations
